<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sangria.auth.dao.GameManagerMapper">

<update id = "updateLogout">
   UPDATE sangria_game_manager
   SET token = null
   WHERE token = #{token}
</update>
	
</mapper>