# CI for Sangria team project

name: SangriaBuildAndTest

on:
  push:
    branches: [ main ]

jobs:
  build-and-test:

    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v2
      
    - name: Set up Java and Maven
      uses: actions/setup-java@v2
      with:
        java-version: 11
        distribution: 'temurin'
        
    - name: Cache SonarCloud packages
      uses: actions/cache@v1
      with:
        path: ~/.sonar/cache
        key: ${{ runner.os }}-sonar
        restore-keys: ${{ runner.os }}-sonar
          
    - name: Cache Maven packages
      uses: actions/cache@v1
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Build and analyze using SonarCloud
      working-directory: ./service-operation
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=tianzhh9665_COMSW4156-TEAM-SANGRIA-REPO
    
    - name: Test auth
      working-directory: ./service-auth
      run: mvn clean test --file pom.xml -DskipTests=false
      
    - name: Test operation
      working-directory: ./service-operation
      run: mvn clean test --file pom.xml -DskipTests=false
      
    - name: Build client
      working-directory: ./service-client
      run: mvn -B package --file pom.xml
      
    
